<!-- These tag items are used in the postEdit and postSubmit templates -->
<!-- NOTE: The spacing between span tags and line breaks affects the style.
           When changing the HTML, take note if the whitespace between the
           tags dissappears. -->

<!-- A tag with primary Bootstrap button color and check glyhp -->
<template name="publicTagItemWithCheckGlyph">
  <span class="tag label label-primary">{{name}}<a class="add glyphicon glyphicon-check"></a></span>
</template>

<!-- A tag with success Bootstrap button color and check glyhp -->
<template name="privateTagItemWithCheckGlyph">
  <span class="tag label label-success">{{label}}<a class="add glyphicon glyphicon-check"></a></span>
</template>

<!-- A tag with primary Bootstrap button color and remove glyph -->
<template name="publicTagItemWithRemoveGlyph">
  <span class="tag label label-primary">{{name}}<a class="remove glyphicon glyphicon-remove-sign"></a></span>
</template>

<!-- A tag with success Bootstrap button color and remove glyph -->
<template name="privateTagItemWithRemoveGlyph">
  <span class="tag label label-success">{{label}}<a class="remove glyphicon glyphicon-remove-sign"></a></span>
</template>

<!-- *********************************************************************** -->
<!-- These tag items are used for displaying tags with links -->

<!-- A tag with primary Bootstrap button color and no glyphicon -->
<template name="publicTagItemWithLink">
  <span class="tag">
    <a href="{{pathFor 'postsContainingTag'}}">
      <span class="label label-primary">{{name}}</span>
    </a>
  </span>
</template>

<!-- A tag with success Bootstrap button color and lock glyphicon -->
<template name="privateTagItemWithLink">
  <span class="tag">
    <a href="{{pathFor 'postsContainingTag'}}">
      <span class="label label-success =">{{label}}<span class="glyphicon glyphicon-lock"></span></span>
    </a>
  </span>
</template>

<!-- A tag with info Bootstrap button color and no glyphicon -->
<template name="visibiltyTagItemWithLink">
  <span class="tag">
    <a href="{{pathFor 'myPostsWithVisibility'}}">
      <span class="label label-warning">{{visibility}}<span class="{{visibliltyGlyphicon visibility}}"></span></span>
    </a>
  </span>
</template>
