<template name="tagsPage">
  <div class="main page">
  {{#if currentUser}}
    <h3>My Tags</h3>
    <div class="tag-cloud border">
      {{#each userTags}}
        {{ > privateTagItemWithLink}}
      {{/each}}
      {{#unless userTagsCount}}
        <div class="alert alert-info" role="alert">
          <p>It looks like you don't have any tags. Once you create a prayer
            request, the tags will automatically show up here. </p>
        </div>
      {{/unless}}
    </div>
  {{/if}}
    <h3>Public Tag List</h3>
    <div class="tag-cloud border">
    {{#each publicTags}}
      {{ > publicTagItemWithLink}}
    {{/each}}
    </div>
  </div>
</template>
