/*
	These are styles for tags
*/

div.tag-cloud {
	margin: 10px 10px 20px 10px;
}

div.tag-cloud.border {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  padding: 5px;
}

div.tag-cloud .label a:hover {
	text-decoration: none;
	opacity: 1;
}

.label .glyphicon {
	color: yellow;
  margin-left: 5px;
	vertical-align: text-top;
	opacity: 0.6;
	cursor: pointer;
}

a.tag:hover {
  text-decoration: none;
}
