/*
	These are styles for tags
*/

/*
	div.tag-cloud relates to groupings of tags, aka a tag cloud.
*/
div.tag-cloud {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  padding: 5px;
  min-height: 32px;
}
div.tag-cloud .label {
	display: inline-block;
}
div.tag-cloud .label a:hover {
	opacity: 1;
	text-decoration: none;
}

/* Styles the glyphicon inside of the label */
span.tag .glyphicon {
	color: yellow;
  margin-left: 5px;
	vertical-align: text-top;
	opacity: 0.6;
	cursor: pointer;
}

/* On mouse over, highlight the tag */
span.tag a:hover .label, span.tag a:hover {
	color: yellow;
	text-decoration: none;
}
span.tag a:hover .glyphicon {
	opacity: 1;
}

div.add-tags-container {
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	padding: 5px;
  margin-bottom: 10px;
}
