<template name="postItem">
  <div class="post">
    <a href="#" class="prayedFor btn btn-default {{prayedForClass}}">{{userPrayed}}</a>
    <div class="post-content">
      <h3>{{title}}: <span>{{prayer_request}}</span></h3>
      <p>
        {{prayedCount}} Prayed |
        submitted by {{author}} |
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a> |
        {{#each tags}}
          {{ > tagItem}}
        {{/each}}
        {{#if ownPost}}| <a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Comment</a>
  </div>
</template>
