<template name="postEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Short title of your request" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'prayerRequest'}}">
      <label class="control-label" for="prayer-request">Request</label>
      <div class="controls">
          <textarea name="prayer-request" id="prayer-request" type="text" value="{{prayerRequest}}" placeholder="Your prayer request" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'prayerRequest'}}</span>
      </div>
    </div>
    <!-- Start tag section -->
    <div class="form-group {{errorClass 'privateTags'}}">
      <label class="control-label" for="tags">Tags</label><br />
      <small>Add tags to this request.</small>
      <span class="help-block">{{errorMessage 'privateTags'}}</span>
    </div>
    <!-- private tags -->
    <div class="form-group {{errorClass 'privateTags'}}">
      <label class="control-label sub-label">Private Tags</label><br />
      <small>Private tags are unique and only show up in private posts and private tag lists.<br /></small>
      <div id="private-tag-cloud" class="tag-cloud">
        {{#each privateTags}}
          {{ > privateTagItemWithRemoveGlyph this }}
        {{/each}}
      </div>
    </div>
    <div class="add-tags-container">
      <input name="private-tags-input" id="private-tags-input" type="text" value="" placeholder="Add new tag through enter key or by comma" class="form-control tag-input-textbox"/>
    {{#if userPrivateTags}}
      <div class="tag-list-container">
        <br />
        <p>Or, choose from your currently used tags</p>
        <div id="user-private-tag-cloud" class="tag-cloud">
        {{#each userPrivateTags}}
          {{ > privateTagItemWithCheckGlyph this }}
        {{/each}}
        </div>
      </div>
    {{/if}}
    </div>
    <!-- end private tags -->
  {{#if authorizedUser}}
    <!-- public tags -->
    <div class="form-group {{errorClass 'publicTags'}}">
      <label class="control-label sub-label">Public Tags</label><br />
      <div id="public-tag-cloud" class="tag-cloud">
        {{#each publicTags}}
          {{ > publicTagItemWithRemoveGlyph this }}
        {{/each}}
      </div>
    </div>
    <div class="add-tags-container">
      <input name="public-tags-input" id="public-tags-input" type="text" value="" placeholder="Add new tag through enter key or by comma" class="form-control tag-input-textbox"/>
    {{#if userPublicTags}}
      <div class="tag-list-container">
        <br />
        <div id="user-tag-cloud" class="tag-cloud">
        {{#each userPublicTags}}
          {{ > publicTagItemWithCheckGlyph this }}
        {{/each}}
        </div>
      </div>
    {{/if}}
    </div>
    <!-- end public tags -->
  {{/if}}
  <!-- end tag section -->
    <div class="form-group">
      <label class="control-label" for="title">Private Request</label>
      <div class="checkbox">
  	    <label><input type="checkbox" name="private-post" id="private-post" {{checked private}}>
          Make request private (only viewable through the URL)</label>
        <small>
          <ul>
            <li>Private posts are viewable through the URL or in private tags</li>
            <li>These posts are highlighted yellow</li>
          </ul>
        </small>
  		</div>
    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
