<template name="postItem">
  <div class="post">
    <div class="post-header">
      <a href="#" class="prayedFor btn btn-default {{prayedForClass}}" {{disabled}} >{{buttonText}}</a>
      <div class="post-header-userdata">
        {{#if userPrayed}}
            <span class="last-prayed">You last prayed {{timeLastPrayed}} </span>
        {{/if}}
        <div class="userdata">
          Submitted by {{author}} <span class="glyphicon glyphicon-user"></span>
        {{#if ownPost}}
          <span class="divider">|</span>
          Post visibility: <span class="post-visibility">{{visibility}} </span>
          <span class="{{visibliltyGlyphicon visibility}}"></span>
          <span class="divider">|</span> <a href="{{pathFor 'postEdit'}}">Edit </a>
          <span class="glyphicon glyphicon-edit"></span>
        {{/if}}
        </div>
      </div>
    </div>
    <div class="post-content">
      <h3>
        <a href="{{pathFor 'postPage'}}">{{title}}</a>
          <span>{{bodyMessage}}
          {{#if truncatedBody}}
            <a href="{{pathFor 'postPage'}}">Read more</a>
          {{/if}}
          </span>
      </h3>
    </div>
    <div class="post-footer">
      <hr />
      <p>
        {{prayedCount}} prayed
        {{#if userPrayed}}
          (You prayed {{userPrayedCount}}x)
        {{/if}}
        <span class="divider">|</span>
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        <span class="divider">|</span>
        {{#each publicTags}}
          {{ > publicTagItemWithLink}}
        {{/each}}
        {{#each privateTags}}
          {{ > privateTagItemWithLink}}
        {{/each}}
        <span class="glyphicon glyphicon-tags"></span>
      </p>
      <hr />
    </div>
  </div>
</template>
