<template name="postSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'bodyMessage'}}">
      <label class="control-label" for="prayer-request">Request</label>
      <div class="controls">
          <textarea name="prayer-request" id="prayer-request" type="text" value=""
                    placeholder="Your prayer request" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'bodyMessage'}}</span>
      </div>
    </div>
    <!-- Start tag section -->
    <div class="form-group {{errorClass 'privateTags'}}">
      <label class="control-label" for="tags">Tags</label><br />
      <small>Add tags to this request.</small>
      <span class="help-block">{{errorMessage 'privateTags'}}</span>
    </div>
    <!-- private tags -->
    <div class="form-group {{errorClass 'privateTags'}}">
      <label class="control-label sub-label">Private Tags</label><br />
      <small>Private tags are unique and only show up in private posts and private tag lists.<br /></small>
      <div id="private-tag-cloud" class="tag-cloud">
        {{! always insert the default tag, as the first tag }}
        {{ > defualtTagItemWithRemoveGlyph}}
      </div>
    </div>
    <div class="add-tags-container">
      <input name="private-tags-input" id="private-tags-input" type="text" value=""
            placeholder="Add new tag through enter key or by comma" class="form-control tag-input-textbox" maxlength="{{maxTagLength}}" />
    {{#if userPrivateTags}}
      <div class="tag-list-container">
        <br />
        <p>Or, choose from your currently used tags</p>
        <div id="user-private-tag-cloud" class="tag-cloud">
        {{#each userPrivateTags}}
          {{ > privateTagItemWithCheckGlyph this }}
        {{/each}}
        </div>
      </div>
    {{/if}}
    </div>
    <!-- end private tags -->
  {{#if isInRole 'admin,moderator'}}
    <!-- public tags -->
    <div class="form-group {{errorClass 'publicTags'}}">
      <label class="control-label sub-label">Public Tags</label><br />
      <div id="public-tag-cloud" class="tag-cloud"></div>
    </div>
    <div class="add-tags-container">
      <input name="public-tags-input" id="public-tags-input" type="text" value=""
            placeholder="Add new tag through enter key or by comma" class="form-control tag-input-textbox" maxlength="{{maxTagLength}}" />
    {{#if userPublicTags}}
      <div class="tag-list-container">
        <br />
        <div id="user-public-tag-cloud" class="tag-cloud">
        {{#each userPublicTags}}
          {{ > publicTagItemWithCheckGlyph this }}
        {{/each}}
        </div>
      </div>
    {{/if}}
    </div>
    <!-- end public tags -->
  {{/if}}
  <!-- end tag section -->
    <div class="form-group" id="privacy-radio-group">
      <label class="control-label" for="title">Request Visibility</label><br />
      <small>Each level inherits the visiblity settings above it.</small><br />
      <div class="radio">
  	    <label><input type="radio" name="privacy-radio" value="{{visibilityValue 0}}">Private: Only you can view</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="privacy-radio" value="{{visibilityValue 1}}">Link: Anyone with the link can view</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="privacy-radio" value="{{visibilityValue 2}}" checked>Tag: The request is displayed in a tag group (default)</label>
      </div>
      <div id="public-request-div" class="radio">
        <label><input type="radio" name="privacy-radio" value="{{visibilityValue 3}}">Public: The request is displayed in the public request page</label>
  		</div>
    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
