<template name="postSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Short title of your request" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'prayer_request'}}">
      <label class="control-label" for="prayer_request">Request</label>
      <div class="controls">
          <textarea name="prayer_request" id="prayer_request" type="text" value="" placeholder="Your prayer request" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'prayer_request'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
