<template name="postSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Short title of your request" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'prayerRequest'}}">
      <label class="control-label" for="prayer-request">Request</label>
      <div class="controls">
          <textarea name="prayer-request" id="prayer-request" type="text" value="" placeholder="Your prayer request" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'prayerRequest'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'tags'}}">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
          <input name="tags" id="tags" type="text" value="" placeholder="Separate tags by commas" class="form-control"/>
          <span class="help-block">{{errorMessage 'tags'}}</span>
      </div>
    </div>
    <div class="tag-list">
      <p>Additionaly, choose from your currently used tags</p>
      <div class="controls">
      {{#each userTags}}
        <label class="checkbox-inline"><input name="tags-checkbox" type="checkbox" value="{{name}}">{{name}}</label>
      {{/each}}
      </div>
    </div>
    <div class="form-group {{errorClass 'privateTags'}}">
      <label class="control-label" for="private-tags">Private Tags</label><br />
      <small>Private tags only show up in private posts and private tag lists.<br /></small>
      <div class="controls">
          <input name="private-tags" id="private-tags" type="text" value="" placeholder="Separate tags by commas" class="form-control"/>
          <span class="help-block">{{errorMessage 'privateTags'}}</span>
      </div>
    </div>
    <div class="tag-list">
      <p>Additionaly, choose from your currently used tags</p>
      <div class="controls">
      {{#each userPrivateTags}}
        <label class="checkbox-inline"><input name="private-tags-checkbox" type="checkbox" value="{{name}}">{{name}}</label>
      {{/each}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Private Request</label>
      <div class="checkbox">
  	    <label><input type="checkbox" name="private-post" id="private-post">
          Make request private (only viewable through the URL)</label>
        <small>
          <ul>
            <li>Private posts are viewable through the URL or in private lists</li>
            <li>These posts are highlighted yellow</li>
          </ul>
        </small>
  		</div>
    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
