<template name="postItem">
  <div class="post {{getPostSubClass}}">
    <a href="#" class="prayedFor btn btn-default {{prayedForClass}}" {{disabled}} >{{userPrayed}}</a>
    <div class="post-content">
      <h3>{{title}}: <span>{{bodyMessage}}</span></h3>
      <p>
        {{prayedCount}} Prayed |
        submitted by {{author}} |
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a> |

        {{#each publicTags}}
          {{ > publicTagItemWithLink}}
        {{/each}}

        {{#each privateTags}}
          {{ > privateTagItemWithLink}}
        {{/each}}

        {{#if ownPost}}| <a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Comment</a>
  </div>
</template>
