<template name="myActivity">
  <div class="main page">
    <div class="myActivity">
    {{#each postInteraction}}
      <p>
        <span class="activity-type">{{type}}</span>
        <span class="activity-date"><a href="{{pathFor 'postPage' _id=this.postId}}">{{formatDate date}}</a></span>
      </p>
    {{/each}}
    {{#unless postInteraction}}
      <div class="alert alert-info" role="alert">
        <p>It looks like you haven't prayed for any requests or left any comments.
          You can find a random item of prayer on the home page, click on a tag
          for an organized list of requests, or start your own list and then
          pray for your own requests.
        </p>
      </div>
    {{/unless}}
    </div>
  </div>
</template>
