<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">{{siteName}}</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown {{disabled isSortable}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sort
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li id="most-recent-posts" class="sortable active">
              <a href="#">
                Latest prayer requests
              </a>
            </li>
            <li id="top-posts" class="sortable">
              <a href="#">
                Most prayed for prayer requests
              </a>
            </li>
            <li id="least-posts" class="sortable">
              <a href="#">
              Least prayed for prayer requests
              </a>
            </li>
          </ul>
        </li>
        <li class="{{activeRouteClass 'tagsPage'}}">
          <a href="{{pathFor 'tagsPage'}}">Tags</a>
        </li>
      {{#if currentUser}}
        <li class="{{activeRouteClass 'myPosts'}}">
          <a href="{{pathFor 'myPosts'}}">My Requests</a>
        </li>
        <li class="{{activeRouteClass 'myActivity'}}">
          <a href="{{pathFor 'myActivity'}}">My Activity</a>
        </li>
        <li class="dropdown">
          {{> notifications}}
        </li>
        <li class="{{activeRouteClass 'postSubmit'}}">
          <a href="{{pathFor 'postSubmit'}}">Submit Request</a>
        </li>
        {{#if isInRole 'admin'}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{pathFor 'adminDashboard'}}">
                Meteor Admin panel
              </a>
            </li>
            <li>
              <a href="{{pathFor 'houston_home'}}">
                Houston panel
              </a>
            </li>
          </ul>
        </li>
        {{/if}}
      {{/if}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Help
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="{{activeRouteClass 'helpCreatingsPosts'}}">
              <a href="{{pathFor 'helpCreatingsPosts'}}">
                Creating a prayer request
              </a>
            </li>
            <li class="{{activeRouteClass 'helpUsingTags'}}">
              <a href="{{pathFor 'helpUsingTags'}}">
                Using tags
              </a>
            </li>
            <li class="{{activeRouteClass 'helpVisilbilitySettings'}}">
              <a href="{{pathFor 'helpVisilbilitySettings'}}">
                Understanding visibility settings
              </a>
            </li>
            <li class="{{activeRouteClass 'about'}}">
              <a href="{{pathFor 'about'}}">
                About
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
